:root{
    --red-light:#fff6f7;
    --dark-color: #dc3545;
    --light-color: white;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 250rem;

    
}
.navbar{
    background-color: var(--dark-color);
    z-index: 5;
    position: fixed;
    width: -webkit-fill-available;
    margin-top: -21px;
}

.navbar .navbar-nav .nav-link{
    color: var(--light-color);
    
}
.Head{
    height: 31rem;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Head .content{
    margin-top: 9rem;
}
.Head .content h1{
    
}
.Head .content h2{
    font-size: 20px;
}
.Head .content a{
    
}
.Head .content a .iconify{
    color: var(--dark-color);
}


.domain .row{
    margin: 40px auto;
}
.box{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    transition: 0.8s;
}
.box:hover{
    background-color: var(--dark-color);
    color: white;
    
}
.box h6{
    font-weight: bolder;
}
.global h2{
    
}
.global p{
    
}
.About{
    background-color: #ffe4e6;
}



.blog .row{
    
}
.blog .row img{
    max-width: 100%;
}
.images{
    display: grid;
    
}
.images img{
    width: 500px;
}

.number .row .col-3 .square{
    height: 10rem;
    background-color: var(--red-light);
}
.number .row .col-3 .square span{
    margin: -18px -20px;
    border: 3px solid;
}
.Company{
    
    background-color: var(--red-light);
}

.Pricing .blog .row .col-3{
    height: 20rem;
}
.Pricing .blog .row .col-3 span{
    margin-left: 80px;
}
.Pricing .blog .row .col-3 h2{
    margin-left: 97px;
}
.Pricing .blog .row .col-3 p{
    margin: -33px 125px;
    font-size: 15px;
}

.Pricing .blog .row .col-3 .des{
    line-height: 2;
    font-size: 15px;
    
}
.Pricing .blog .row .col-3 .des{
    line-height: 2;
    font-size: 15px;
    
}
.Pricing .blog .row .col-3 button{
    align-items: center;
    margin: 14px 81px;
    
}

.Portfolio .btn-group{
    margin: 0px 490px;
}
.Portfolio .images{
    display: grid;
    grid-template-columns: 80% 0%;

}
.images .horizontal{
    grid-column: span 2;
    
}
.images .vertical{
    grid-row: span 2;

}
.team{
    background-color: var(--red-light);
    padding: 4rem 0rem;

}
.Contact{

}
.Contact .data{
    margin: 40px auto;
}
.Contact .data .map iframe{
    width: 550px;
    height: 376px;
}
.Contact .data .form{
    padding: 23px 0px;
    border: 1px solid;
    margin: 0px 10px;
}
.Contact .data form{
    margin: 0px 35px;
}
.Contact .data form input:nth-child(1){
    width: 14rem;
}
.data form input:nth-child(2){
    width: 14rem;
}
.data form input:nth-child(3){
    width: 469px;
    margin: 25px 0px;
}
.data form input:nth-child(4){
    width: 467px;
    height: 129px;
}

.form form button{
    padding: 6px 164px;
    margin: 14px 10px;
}

.join{
    background-color: var(--red-light);
    padding: 60px 0px;
}

/* responsive css */
