/* #A3D2F5 */
body{
  height: 153rem;
}
nav{
  background-color: #240d71;
}
.contest{
  margin-top: 3rem;
}
.contest button:hover{
  
  background-color: #240d71;
  border-bottom: 1px solid;
  width: 8rem;
  color: white;
  
}
.features{
  background-color: rgb(234 235 236);
}
.features::after{
  content:'';
  width: 120px;
  height: 2px;
  background-color: red;
}
.features img{
  width: 6rem;
}
.features h2{
  margin-top: -1rem;
}
.features .line{
  color:rgb(78, 80, 207);
  border-bottom: 1px solid;
  width: 8rem;;
  
}
.features div .row div .feat img{
  
    width: 100%;
    margin: 27px 0px;
}
.feat p{
  margin: 0px 30px;
}
.work{
  background-color: rgb(234 235 236);

}
.work img{
  width: 6rem;

}
.work h5{
  font-size: 14px;
}

.work div .filter ul li{
  display: inline-block;
  margin: 0px 0rem;
  font-weight: 500;
  padding: 7px 14px;
  border-radius: 5px;
}
.work div .filter ul li.active{
  background-color: #240d71;
  color: white;

}

.work .row div .box{
  margin: 10px 47px;
  height: 167px;
  background-color: #240d71;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
    .contest{
      margin-top: 4rem;
  
    }
    .features h2{
      margin-top: 0rem;
    }
    .feat h3{
      font-size: 19px;
    }
    .feat p{
      margin: 0px 23px;
    }
    .work .row div .box{
      margin: 10px 1px;
      width: 204px;
      height: 130px;
      background-color: #240d71;
    }
  }
  
  
  @media(min-width:992px){
    .container{
      width: 970px;
    }
    .contest{
      margin-top: 5rem;
    }
  .features h2{
    margin-top: 0rem;
    }
    .work .row div .box{
      margin: 10px 1px;
      width: 13rem;
      height: 182px;
      background-color: #240d71;
    }
  }
  
  
  @media(min-width:1200px){
    .container{
      width: 1170px;
    }
    .contest{
        margin-top: 5rem;
    }
    .features h2{
      margin-top: 0rem;
    }
    .work .row div .box{
      margin: 10px 1px;
      width: 13rem;
      height: 182px;
      background-color: #240d71;
    }

    


  }
  




































































































