:root{
    --red-light:#fff6f7;
    --dark-color: #dc3545;
    --light-color: white;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 250rem;
}
.navbar{
    background-color: var(--dark-color);
    z-index: 5;
    position: fixed;
    width: -webkit-fill-available;
    margin-top: -21px;
}

.navbar .navbar-nav .nav-link{
    color: var(--light-color);
    
}
.Head{
    height: 31rem;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Head .content{
    margin-top: 9rem;
}
.Head .content h1{
    
}
.Head .content h2{
    font-size: 20px;
}
.Head .content a{
    
}
.Head .content a .iconify{
    color: var(--dark-color);
}


.domain .row{
    margin: 40px 67px;
    
}
.domain .row .box{
    width: 261px;
    height: 196px;
    transition: 0.8s;
}
.box:hover{
    background-color: var(--dark-color);
    color: white;
    
}
.box h6{
    font-weight: bolder;
}
.global h2{
    
}
.global p{
    
}
.About{
    background-color: #ffe4e6;
    padding: 70px 117px;
    background-color: #ffe4e6;
    left: -49px;
}
.Service .fields .row .single_field{
    padding: 80px 0px;
    width: 349px;
    transition: 0.8s;
    border: 1px solid;
}
.single_field:hover{
    background-color: var(--dark-color);
    color: white;
}

.blog .row{
    
}
.blog .row img{
    max-width: 100%;
}
.images{
    display: grid;
    
}
.images img{
    width: 500px;
}

.number .row .col-3 .square{
    height: 10rem;
    background-color: var(--red-light);
}
.number .row .col-3 .square span{
    margin: -18px -20px;
    border: 3px solid;
}
.Company{
    
    background-color: var(--red-light);
}
.Pricing .blog .row .col-3{
    height: 20rem;
}
.Pricing .blog .row .col-3 span{
    margin-left: 80px;
}
.Pricing .blog .row .col-3 h2{
    margin-left: 97px;
}
.Pricing .blog .row .col-3 p{
    margin: -33px 125px;
    font-size: 15px;
}

.Pricing .blog .row .col-3 .des{
    line-height: 2;
    font-size: 15px;
    
}
.Pricing .blog .row .col-3 .des{
    line-height: 2;
    font-size: 15px;
    
}
.Pricing .blog .row .col-3 button{
    align-items: center;
    margin: 14px 81px;
    
}

.Portfolio .btn-group{
    margin: 0px 490px;
}
.Portfolio .images{
    display: grid;
    grid-template-columns: 80% 0%;

}
.images .horizontal{
    grid-column: span 2;
    
}
.images .vertical{
    grid-row: span 2;

}
.team{
    background-color: var(--red-light);
    padding: 4rem 110px;


}
.Contact{

}
.Contact .data{
    margin: 40px auto;
}
.Contact .data .map iframe{
    width: 550px;
    height: 376px;
}
.Contact .data .form{
    padding: 23px 0px;
    border: 1px solid;
    margin: 0px 10px;
}
.Contact .data form{
    margin: 0px 35px;
}
.Contact .data form input:nth-child(1){
    width: 14rem;
}
.data form input:nth-child(2){
    width: 14rem;
}
.data form input:nth-child(3){
    width: 469px;
    margin: 25px 0px;
}
.data form input:nth-child(4){
    width: 467px;
    height: 129px;
}

.form form button{
    padding: 6px 164px;
    margin: 14px 10px;
}

.join{
    background-color: var(--red-light);
    padding: 60px 0px;
}

/* responsive css */

/* @media(min-width: 992px){
    .Company .row{
    width: 81rem;
    padding: 0px 33px;
} */

/* $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px

    -----------------------------

    // Source mixins

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }

// Usage

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}
); */




/* --------- XS ----------- */
@media (max-width: 375px) { 

    

    .navbar{
        background-color: green;

    }
    .row{
        border-radius: 8px;
        width: 296px;
        font-size: 17px;
        margin: 0px -23px;
    }
    .domain{
        margin: 0px -16px;
    }
    .domain .row .box{
        border-radius: 8px;
        width: 296px;
        font-size: 17px;
        margin: 0px -23px;
    }
    .About{
        padding: 53px 0px;
    }
    .About .blog{
        
    }
    .About .blog .row .col-lg-6 img{
        width: 301px;
        margin: 0px 46px;
    }
    .About .blog .row .text{
        margin: 0px 29px;
        font-weight: bolder;
    }
    .row .text .mide{
        font-size: 16px;
        font-weight: 100;
    }
    .row .text .mide .image div{
        
    }
    .row .text .mide .text h4{
        margin: 0px -30px;
        margin-bottom: 10px;
    }
    .row .text .mide .text p{
        width: 17rem;
        margin: 0px -31px;
    }
    .team{
        width: 529px;
        margin: 0px -172px;
    }
    
    .Contact .data .map iframe {
        margin: 0px -28px;
        width: 309px;
        height: 393px;
    }
    .Contact .data .form {
        
    }
    .Contact .data .form form input:nth-child(1){
        background-color: red;
    }
    .Contact .data .form form input:nth-child(2){
        background-color: blue;
    }
    .Contact .data .form form input:nth-child(3){
        background-color: green;
        width: 12rem;
    }
    .Contact .data .form form input:nth-child(4){
        background-color: yellow;
        width: 12rem;
    }

    }


    /* ------ comapany ----- */
    .Company .row div img{
        width: 22px;
        height: 22px;
    }


/* --------- MD ----------- */

@media (max-width: 576px) { 
    .navbar{
        background-color: navy;
    }

}


@media (min-width: 768px) { 
    .domain .row .box{
        border-radius: 8px;
        width: 296px;
        font-size: 17px;
        margin: 0px -23px;
    }
}





@media (min-width: 992px) { 
    


}


@media (min-width: 1200px) { 
    


}


@media (min-width: 1400px) { 
    


}


